<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :occasion %><br />
    <%= f.text_field :occasion %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :reminder_1 %><br />
    <%= f.date_select :reminder_1 %>
  </div>
  <div class="field">
    <%= f.label :reminder_2 %><br />
    <%= f.date_select :reminder_2 %>
  </div>
  <div class="field">
    <%= f.label :final_reminder %><br />
    <%= f.date_select :final_reminder %>
  </div>
  <div class="field">
    <%= f.label :contribution_deadline %><br />
    <%= f.date_select :contribution_deadline %>
  </div>
  <div class="field">
    <%= f.label :book_size %><br />
    <%= f.text_field :book_size %>
  </div>
  <div class="field">
    <%= f.label :invite_message_subject %><br />
    <%= f.text_field :invite_message_subject %>
  </div>
  <div class="field">
    <%= f.label :invite_message_body %><br />
    <%= f.text_area :invite_message_body %>
  </div>
  <div class="field">
    <%= f.label :sharing_preference %><br />
    <%= f.text_field :sharing_preference %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
